.navbar-nav{
  font-size: .9rem !important;
}
.bg-dark {
    background-color: black !important;
    padding: 20px !important;
}
.btn-secondary {
  display: flex !important;
  justify-content: center;
  align-self: center !important;
  height: fit-content !important;
  height: 30px !important;
  background-color: darkred !important;
  align-items: center;
  font-size: .7rem !important;
}

.dropdown-item {
  font-size: .7rem !important;
}

.form-control {
  width: 70% !important;
  height: fit-content !important;
  display: flex;
  align-self: center;
  height: 30px !important;
  margin-left: 10px !important;
}

img{
  width: 170px;
}